/* Audioapp */

body {
  opacity: 1;
  transition: opacity 1.5s ease;
}

body.loading {
  opacity: 0;
}

.footer {
  margin: auto;
  text-align: center;
}

/* HEADER */
.app-header {
  background-color: #2B555C;
  color: #fefefe;
  font-family: monospace;

  padding: 10px;
}

.midi-app-logo {
  width: auto;
}

.midi-app-logo img {
  display: block;
  width: 50px;
}
.menu__line {
  display: table;
  width: auto;
  padding: 5px 0;
}
.menu__line > *{
  display: table-cell;
  padding: 0 5px;
}

.menu__section {
  display: table-cell;
  padding: 0 5px;
  vertical-align: top;
}

.menu__section > div {
  position: relative;
  display: table-cell;
  padding: 5px;
  border: 0.5px solid #fefefe; 
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.menu__section > div > * {
  display: table-cell;
}

.menu__title {
  position: absolute;
  top: -10px;
  padding: 0 2.5px;
  background-color: #2B555C;
}

.midi-keyboard .mk-manufacturer,
.midi-keyboard .mk-name {
  color: #16A2D7;
}

.midi-keyboard .open,
.midi-keyboard .connected {
  position: relative;
  color: #16A2D7;
}

.midi-keyboard .mk-connection::after,
.midi-keyboard .mk-state::after  {
  position: absolute;
  left:0;
  content: "\29BF";
}

.midi-keyboard .mk-connection.open::after,
.midi-keyboard .mk-state.connected::after {
  color: #20D444;
}

.midi-keyboard .mk-connection.closed::after,
.midi-keyboard .mk-state.disconnected::after {
  color: #900000;
}

.midi-keyboard {
  list-style: none;
  color: #FFFFFF;
  font-size: 12px;
  font-family: monospace;
}

.midi-keyboard > div > div {
  display: table-cell;
  padding: 0 5px;
}

.midi-keyboard li.connected {
  color: green;
}
.midi-keyboard li.disconnected {
  color: red;
}

.midi-failed {
  display: none;
}

.midi-failed img {
  display: block;
  margin: auto;

  width: 250px;
}

.midi-failed.active {
  display: block;
  position: relative;
  top: -150px;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 900px;
  overflow: hidden;

  background-color: #BFEAFF;
}

.midi-failed.active figure {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);

  -webkit-box-shadow: 0 0 1500px 1500px #BFEAFF;
          box-shadow: 0 0 1500px 1500px #BFEAFF;
}

.button {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0 2px;
  color: #FFFFFF;
  background-color: #1C444D;
  font-size: 12px;

  border: 1px solid #c8AF9d;
  border-radius: 4px;
}

.button:active, .button.active {
  background-color: #3A666B;
  border: 1px solid #16A2D7;
}

.button:hover {
  background-color: #4A777A;
  border: 1px solid #16A2D7;
}

.button[data-settings="waveform"] {
  padding: 5px 5px 5px 25px; 
  background-repeat: no-repeat;
  background-size: contain;
}

.button[data-waveformtype="sine"] {
  background-image: url("../img/waveform_sine.svg");
}
.button[data-waveformtype="square"] {
  background-image: url("../img/waveform_square.svg");
}
.button[data-waveformtype="triangle"] {
  background-image: url("../img/waveform_triangle.svg");
}
.button[data-waveformtype="sawtooth"] {
  background-image: url("../img/waveform_sawtooth.svg");
}


.input {
  border: 1px solid #D7DBDD;
  padding: 0 10px;
  border-radius: 0;
  box-shadow: none;
}

input[type="range"] {
  position: relative;
  margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
  position: absolute;
  top: 1.5em;
  color: #aaa;
  font-size: 8px;
}
input[type="range"]:before {
  left:0em;
  content: attr(min);
}
input[type="range"]:after {
  right: 0em;
  content: attr(max);
}

/* Piano */

.keys-container {
  position: relative;
  width: 100vw;
}

.keys{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.white-keys {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: left;
}

.white-keys .key {
  background-color: #fff;
  border: 1px solid #333;

  -webkit-box-shadow:inset 0 -5px 2.5px 2.5px rgba(30,30,30,0.5);
  box-shadow:inset 0 -5px 2.5px 2.5px rgba(30,30,30,0.5);

  transition: box-shadow 0.2s ease, height 0.2s ease;

  width: 1.8333%;
  height: 100px;
}

.white-keys .key:active, .white-keys .key:focus, .white-keys .key.active {
  -webkit-box-shadow:inset 0 -6px 5px 10px rgba(30,30,30,0.3);
  box-shadow:inset 0 -6px 5px 10px rgba(30,30,30,0.3);

  height: 90px;
}

.black-keys {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: left;
}

.black-keys .key {
  background-color: #010101;
  border: 1px solid #333;

  -webkit-box-shadow:inset 0 -5px 5px 1px rgba(250,250,250,0.9);
  box-shadow:inset 0 -2px 5px 1px rgba(250,250,250,0.9);

  transition: box-shadow 0.2s ease, height 0.2s ease;

  width: 1.6333%;
  max-width: 14px;
  height: 70px;
}

.black-keys .key.key-c-sharp:first-of-type {
  margin-left: 0.88%;
}

.black-keys .key.key-c-sharp:not(:first-of-type),
.black-keys .key.key-f-sharp {
  margin-left: 1.67%;
}

.black-keys .key.key-g-sharp,
.black-keys .key.key-a-sharp,
.black-keys .key.key-d-sharp {
  margin-left: 0.39%;
}



.black-keys .key:active, .black-keys .key:focus, .black-keys .key.active {

  -webkit-box-shadow:inset 0 -5px 5px 5px rgba(250,250,250,0.7);
  box-shadow:inset 0 -5px 5px 5px rgba(250,250,250,0.7);


  height: 60px;
}